{% extends "base.html" %}
{% block title %}User: {{user.username}}{% endblock %}

{% block content %}
        
        <form action="/" method="POST">
            {% csrf_token %}
            <input type="submit" value="Back">
        </form>
        
		<h1>User</h1>

        <table>
            <tr>
                <th style="text-align:left">Username</th>
                <th style="text-align:left">UserID</th>
                <th style="text-align:left">Email</th>
            </tr>
			<tr>
                <td>
                    {{profile.username}}
                </td>
                <td>
                    {{profile.uid}}
                </td>
                <td>
                    {{profile.email}}
                </td>
			</tr>
        </table>

        {% if user.is_authenticated %}
        <form action="/delete/{{user.uid}}" method="POST">
            {% csrf_token %}
            <input type="submit" value="DELETE">
        </form>
        {% endif %}
{% endblock %}
