<!DOCTYPE html>
<html>
    <head>
        <title>Profiles</title>
    </head>
    
    <body>
        <form action="logout" method="POST">
            {% csrf_token %}
            <input type="submit" value="Log Out">
        </form>

        <form action="info" method="POST">
            {% csrf_token %}
            <input type="submit" value="User Information">
        </form>
		<h1>Registered users</h1>

        <table>
            <tr>
                <th style="text-align:left">Username</th>
            </tr>
			{% for user in users %}
			<tr>
                <td style="text-align:left">

                    <!-- Fix: ...profile/((user.username))... -->
                    <form action="profile/{{user.uid}}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value={{user.username}}>
                    </form>
                </td>
			</tr>	
			{% endfor %}
        </table>

        
    </body>


    </body>
</html>
